$dark-lava: #463f3aff;
$middle-grey: #8a817cff;
$pale-silver: #bcb8b1ff;
$alabaster: #f4f3eeff;
$melon: #e0afa0ff;
$gap: 20px;
$main-font: Martel, serif;
$special: "Josefin Sans", sans-serif;

html {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: $dark-lava;
  background-color: $alabaster;
  font-family: $main-font;
  font-weight: 400;
  padding: 20px;
  margin: 0;
}
h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: $special;
}
h2 {
  font-size: 16px;
  font-weight: 600;
  font-family: $special;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
.intro {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.intro__logo {
  flex: 0 1 15%;
  margin-right: 5%;
}
.intro__title {
  flex: 0 1 80%;
}
.intro__image img {
  width: 100%;
}
.nav__menu {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

.nav__href {
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: $special;
  color: $dark-lava;
}

.nav__item {
  flex: 0 1 20%;
  font-size: 16px;
  margin: 0 5% 0 0;
  padding: 0;
  font-weight: 600;
}
.nav__item::last-child {
  margin-right: 0;
}
.motto {
  background-image: url("images\book-open.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $alabaster;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: nowrap;

    .nav__item::last-child {
      margin-right: 2%;
    }
  }
  .intro {
    flex: 0 1 40%;
    margin-right: 2%;
  }
  .nav__menu {
    flex: 0 1 58%;
  }
}

.book__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px auto;
}

.footer {
  background-color: $middle-grey;
  color: $alabaster;
  font-size: 16px;
  text-align: center;
  padding: 0;
}
